:root {
  --select-height: 44px;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}


.select {
  position: relative;
  z-index: 1;
  width: 300px;
  height: var(--select-height);
  border: 1px solid #116ACC;
  border-radius: 7px;

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input::after {
      transform: translateY(-50%) rotate(180deg);
    }

    .select__background {
      display: block;
    }
  }

  &__background {
    position: fixed;
    inset: 0;
    z-index: -1;
    display: none;
    background: transparent;
  }


  &__input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 19px;
      top: 50%;
      width: 10px;
      height: 10px;
      background-color: #182233;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      transform: translateY(-50%);
    }
  }
  &__dropdown {
    position: absolute;
    top: var(--select-height);
    right: 0;
    left: 0;
    display: none;
    max-height: 200px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
  }

  &__list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 10px 16px;

    &.selected::after {
      content: '';
      right: 19px;
      top: 50%;
      position: absolute;
      width: 18px;
      height: 14px;
      background-image: url("./selected.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      background-color: #A0C3FF;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
    }
  }
}